<div class="col-md-4" style="background-color: #161b2eaf; border-radius: 10px;">
    <canvas id="{{id}}"></canvas>

    <script>

            function chartHandler(e, legendItem, legend) {
                const index = legendItem.datasetIndex;
                const ci = legend.chart;
                if (ci.isDatasetVisible(index)) {
                    ci.hide(index);
                    legendItem.hidden = true;
                } else {
                    ci.show(index);
                    legendItem.hidden = false;
                }
                }
                
        var globalLabels = [{%for label in labels%}"{{label}}",{%endfor%}];
        var data = [{%for value in amounts%}{{value}},{%endfor%}];

        // Zip globalLabels and data
        var chart_data = globalLabels.map((x, i) => ({ 'x': globalLabels[i], 'y': data[i] }));
        new Chart(document.getElementById('{{id}}'), {
            
            type: 'bar',
            
            data: {
                datasets: [{
                    data: data,
                    backgroundColor:  ["#c31744", "#e27c7c", "#11172d", "#0ca289", "#6cd4c5", "#bc384d", "#3c4e4b",  "#11172d", "#0ca289", "#6cd4c5", "#bc384d", "#3c4e4b"],
                    borderWidth: 4,
                    borderRadius: 20,
                    borderSkipped: false,

                }],
                labels: globalLabels,
                backgroundColor: "#26947a"
                    
            },
            options: {
                    responsive: true,
                    maintainAspectRatio: false,
                plugins:{
                    
                    legend: { 
                        display: false, 

                    },
                    title: {
                        display: true,
                        text: "{{title}}",
                        color: 'rgb(211, 207, 207)',
                    },
                    datalabels: {
						color: 'white',
                        anchor: 'end',
						align: 'end',
                        font: {
							weight: 'bold',
						},
					}
                },
                scales: {
                    y: {
                        ticks: {
                            display: false,
                            color: 'rgb(211, 207, 207)',
                        },
                        grid: {
                            display: false,
                        },
                        axis: {
                            display: false
                        }
                        

                    },
                    x: {
                        ticks: {
                            color: 'rgb(211, 207, 207)',
                        },
                        grid: {
                            display: false,

                        }
                    },
                },

            },
        },        
        );
    </script>
</div>