
    <canvas id="{{lineid}}" style="max-height: 5vh;"></canvas>

    <script>
            function chartHandler(e, legendItem, legend) {
                const index = legendItem.datasetIndex;
                const ci = legend.chart;
                if (ci.isDatasetVisible(index)) {
                    ci.hide(index);
                    legendItem.hidden = true;
                } else {
                    ci.show(index);
                    legendItem.hidden = false;
                }
                }
                
        var globalLabels = [{%for label in labels%}"{{label}}",{%endfor%}];
        var data = [{%for value in values%}{{value}},{%endfor%}];
            
        

        // Zip globalLabels and data
        var chart_data = globalLabels.map((x, i) => ({ 'x': globalLabels[i], 'y': data[i] }));

        new Chart(document.getElementById('{{lineid}}'), {
            
            type: 'line',
            labels: globalLabels,
            data: {
                datasets: [{
                    data: data,
                    borderColor: "{{color}}",
                }],
                labels: globalLabels,
                backgroundColor: "#26947a"
                    
            },
            options: {
                maintainAspectRatio: false,
                elements: {
                    point: {
                        radius: 0,
                    },
                    line: {
                        tension: 0.5,
                    },
                },
                
                plugins:{
                    responsive: true,
                    legend: { 
                        display: false, 

                    },
                    title: {
                        display: false,

                    },
                    datalabels: {
                    color: 'blue',
                    labels: {
                    title: {
                        font: {
                        weight: 'bold'
                        }
                    },
                    value: {
                        color: 'green'
                    }
                    }
                    },
                },
                scales: {
                    y: {
                        ticks: {
                            display: false,
                            color: 'white',
                        },
                        grid: {
                            display: false,
                        },
                        axis: {
                            display: false
                        }
                        

                    },
                    x: {
                        ticks: {
                            display: false,
                            color: 'white',
                        },
                        grid: {
                            display: false,
                        },
                    },
                },

            },
        },        
        );
    </script>