<div class="col-md-3" style="background-color: #161b2eaf; border-radius: 10px;">
    <canvas id="{{id}}"></canvas>
</div>

<script>
function getRandomColor() {
    var letters = '0123456789ABCDEF'.split('');
    var color = '#';
    for (var i = 0; i < 6; i++ ) {
        color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
}

var data = [{%for value in values%}{{value}},{%endfor%}];
var labels = [{%for label in labels%}"{{label}}",{%endfor%}];

if (data.length < 1) {
    data = [1];
    labels = ['No data'];
}

new Chart(document.getElementById('{{id}}'), {

    
    
    type: 'doughnut',
    data: {
        labels: labels,
        
        datasets: [
            {
                label: 'Amount',
                data: data,
                backgroundColor: ["#c31744", "#e27c7c", "#11172d", "#0ca289", "#6cd4c5", "#bc384d", "#3c4e4b"],
                borderWidth: 0.1,
            
            }
        ]
    },
    options: {
        plugins:{
            responsive: true,
            chartArea: {
                backgroundColor: 'rgba(251, 85, 85, 0.4)'
            },
            legend: { 
                display: true,
                position: 'right',
                labels: {
                    
                    generateLabels: function(chart) {
                        var data = chart.data;
                        if (data.labels.length && data.datasets.length) {
                            return data.labels.map(function(label, i) {
                                var meta = chart.getDatasetMeta(0);
                                var ds = data.datasets[0];
                                var arc = meta.data[i];
                                var custom = arc && arc.custom || {};
                                var getValueAtIndexOrDefault = Chart.helpers.getValueAtIndexOrDefault;
                                var arcOpts = chart.options.elements.arc;
                                return {
                                    text: label+ ": " + ds.data[i] + " €",
                                    hidden: isNaN(ds.data[i]) || meta.data[i].hidden,
                                    index: i,
                                    fontColor: "rgb(211, 207, 207)",
                                    
                                    
                                    
                                };
                            });
                        }
                        return [];
                    },
                    boxWidth: 0,
                }
                
            },
            title: {
                display: true,
                text: "{{title}}",
                color: 'rgb(211, 207, 207)',
                },
        }}
});
console.log(datasets)
</script>