{% extends "spendings/layout.html" %}

    {% load static %}


    <link rel="stylesheet" href="{% static 'spendings/style.css' %}">
{% block main %}

<div class="container-fluid">
    <div class="row" style="border: 1px red;">
        <div class="col">
            <div class="row">
                <p style="margin: 5px; padding-top: 5px; font: 2em tahoma;">Totals</p>
                {% include "cards/amount_card.html" with title="Balance" amount=total_balance%}
                {% include "cards/amount_card.html" with title="Spendings" amount=total_spendings %}
                {% include "cards/amount_card.html" with title="Incomes" amount=total_incomes %}
            </div>
            <div class="row">
                <p style="margin: 5px; font: 2em tahoma;">Current month totals</p>
                {% include "charts/pie.html" with id="spent" labels=spent_labels values=spent_values title="Spendings" %}
                {% include "charts/pie.html" with id="income" labels=income_labels values=income_values title="Income"%} 
                {% include "cards/amount_card.html" with title="Balance" amount=balance %}
                {% include "cards/amount_card.html" with title="Spendings" amount=total lineid="line1" labels=spent_by_day_labels values=spent_by_day_values color="#c31744" %}
                {% include "cards/amount_card.html" with title="Income" amount=total_income lineid="line2" labels=income_by_day_labels values=income_by_day_values  color="#0ca289" %}
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col" style="max-width: 30vh;">
                    {% include "cards/list_card.html" with title="Last transactions" spedings=last_spendings_data%}
                </div>
                <div class="col">
                    <p style="margin: 5px; padding-top: 5px; font: 2em tahoma">Totals by categories</p>
                    {% include "charts/bar_category.html" with id="categoryBar" labels=category_labels amounts=category_values title="Spendings" %}
                </div>


            </div>
            <div class="row">
                <p style="margin: 5px; font: 2em tahoma">Totals by month</p>
                {% include "charts/bar.html" with id="spentBar" color="#c31744" labels=total_by_month_labels amounts=total_by_month_amounts title="Spendings" %}
                {% include "charts/bar.html" with id="incomeBar" color="#0ca289" labels=income_by_month_labels amounts=income_by_month_amounts title="Incomes" %}
            </div>
        </div>
    </div> 
</div>
{% endblock %}