{% extends "spendings/layout.html" %}

    {% load static %}

    <link rel="stylesheet" href="{% static 'spendings/style.css' %}">

{% block main %}
<div style="margin: 10vh; ">
    <div class="center-text">
        <h2 style="margin: 5vh;">Balance: {{ balance }} EUR</h2>
    </div>  
    <div class="modal-body row">
        <div class="col-md-6">
            <div class="row">
            <h2 style="margin: 2vh; color:white;">This month total spent: {{ total }} EUR</h2>
            </div>
            <link rel="stylesheet" href="{% static 'spendings/style.css' %}">
            <div class="row">
            <div class="chart-container" style="position: relative; height:40vh; width:80vw;">
            <canvas id="myVisualization"></canvas>
            </div>
            </div>

        <script>
            function getRandomColor() {
                var letters = '0123456789ABCDEF'.split('');
                var color = '#';
                for (var i = 0; i < 6; i++ ) {
                    color += letters[Math.floor(Math.random() * 16)];
                }
                return color;
            }
            
            // var ctx = document.getElementById('myVisualization').getContext('2d');
            new Chart(document.getElementById('myVisualization'), {
                
                type: 'doughnut',
                data: {
                    labels: [{%for label in labels%}"{{label}}",{%endfor%}],
                    
                    datasets: [
                        {
                            label: 'Amount',
                            data: [{%for value in values%}{{value}},{%endfor%}],
                            backgroundColor: [{%for color in values%} getRandomColor(),{%endfor%}],
                            borderwidth: 1,
                        
                        }
                    ]
                },
                options: {
                    plugins:{
                        chartArea: {
                            backgroundColor: 'rgba(251, 85, 85, 0.4)'
                        },
                        legend: { display: false },
                        title: {
                            display: true,
                            text: "Amount spent per month by category",
                            color: 'white',
                            },
                    }}
            });
        </script>
        </div>
        <div class="col-md-6">
            <div class="row">
            <h2 style="margin: 2vh;">This month total income: {{total_income}} EUR</h2>
            </div>
            <link rel="stylesheet" href="{% static 'spendings/style.css' %}">
            <div class="row">
            <div class="chart-container" style="position: relative; height:40vh; width:80vw;">
            <canvas id="myIncome"></canvas>
            </div>
            </div>
                
        <script>
            function getRandomColor() {
                var letters = '0123456789ABCDEF'.split('');
                var color = '#';
                for (var i = 0; i < 6; i++ ) {
                    color += letters[Math.floor(Math.random() * 16)];
                }
                return color;
            }
            
            // var ctx = document.getElementById('myVisualization').getContext('2d');
            new Chart(document.getElementById('myIncome'), {
                
                type: 'doughnut',
                data: {
                    labels: [{%for label in income_labels%}"{{label}}",{%endfor%}],
                    
                    datasets: [
                        {
                            label: 'Amount',
                            data: [{%for value in income_values%}{{value}},{%endfor%}],
                            backgroundColor: [{%for color in income_values%} getRandomColor(),{%endfor%}],
                            borderwidth: 1,
                        
                        }
                    ]
                },
                options: {
                    plugins:{
                        chartArea: {
                            backgroundColor: 'rgba(251, 85, 85, 0.4)'
                        },
                        legend: { display: false },
                        title: {
                            display: true,
                            text: "Income per month",
                            color: 'white',
                            },
                    }}
            });
        </script>
        </div>
    </div>

    <div class="modal-body row">


        <div style="position: relative; height:40vh; max-width:80vw; margin-top: 10vh;">
            <canvas id="barChart"></canvas>
        </div>

        <script>

            function getRandomColor() {
                var letters = '0123456789ABCDEF'.split('');
                var color = '#';
                for (var i = 0; i < 6; i++ ) {
                    color += letters[Math.floor(Math.random() * 16)];
                }
                return color;
            }

            function chartHandler(e, legendItem, legend) {
                const index = legendItem.datasetIndex;
                const ci = legend.chart;
                if (ci.isDatasetVisible(index)) {
                    ci.hide(index);
                    legendItem.hidden = true;
                } else {
                    ci.show(index);
                    legendItem.hidden = false;
                }
            }


            var globalLabels = [{%for label in total_by_month_labels%}"{{label}}",{%endfor%}];
            var data = [{%for value in total_by_month_amounts%}{{value}},{%endfor%}];


            // Zip globalLabels and data
            const chart_data = globalLabels.map((x, i) => ({ 'x': globalLabels[i], 'y': data[i] }));

            

            new Chart(document.getElementById('barChart'), {
                
                type: 'bar',
                
                data: {
                    datasets: [{
                        data: data
                    }],
                    labels: globalLabels
                        
                },
                options: {
                    plugins:{
                        responsive: true,
                        legend: { 
                            display: false, 
    
                        },
                        title: {
                            display: true,
                            text: "Spent money per month",
                            color: 'white',
                        },
                    },
                    scales: {
                        y: {
                            ticks: {
                                display: false,
                                color: 'white',
                            },
                            grid: {
                                display: false,
                            },
                            axis: {
                                display: false
                            }
                            

                        },
                        x: {
                            ticks: {
                                color: 'white',
                            },
                            grid: {
                                display: false,

                            }
                        },
                    },

                },
            },        
            );
        </script>


    </div>

    
</div>

{% endblock %}